---
id: {{ pvd }}
title: {{ pvd|up_or_title(pvd) }}
---

Node classes list of {{ pvd }} provider.
{% for typ, classes in typ_classes.items() %}
## {{ pvd }}.{{ typ }}
{% for class in classes %}
<div class="tooltip">
  <img src="/img/{{ class['resource_path'] }}" alt="{{ class['name'] }}">
  diagrams.{{ pvd }}.{{ typ }}.{{ class['name'] }}{% if class['alias'] %}, {{ class['alias'] }} (alias){% endif %}
  <span class="tooltiptext"><img width="256" src="/img/{{ class['resource_path'] }}" alt="{{ class['name'] }}"></span>
</div><br>
{% endfor %}
{% endfor %}
